body {
     margin: 0;
     padding: 0;
     font-family: sans-serif;
     box-sizing: border-box;
     background-color:#f4f4f9 ;
}
.banner {
    display: grid;
    gap: 40px;
    padding: 100px 50px;
    margin-top: 20px;
}
.banner-items {
    position:relative;
    overflow:hidden;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.slider {
    display:flex;
    width:300%;
    animation: slide 9s infinite;
}
.slider img {
    width:33.33%;
    height:600px;
    object-fit: cover;
}
@keyframes slide{
    0%{transform:translateX(0%);}
    33%{transform:translateX(-33.33%);}
    60%{transform:translateX(-60.60%);}
}