
:root {
    --primary-color: #50928A;
    --secondary-color: #C1B579;
}
body {
     margin: 0;
     padding: 0;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     box-sizing: border-box;
     background-color:#f4f4f9 ;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5%;
    position:sticky;
    top:0;
    background-color: var(--primary-color);
}

.nav-logo {
    height: 100px;
    width: auto;
    display: block;
}
.nav-links {
    display: flex;
    list-style: none;
}
.nav-links li {
    margin-left: 20px;
}
.nav-links a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}
.nav-links a:hover {
    color: #AD906E;
}

.carousel {
    position: relative;
    width: 1000px;
    height: 400px;
    margin: 25px auto;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}
.slide {
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s ease;
  width: 100%;
  height: 100%;
}
.slide:before {
  content: attr(annot);
  display: block; 
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: fit-content; 
  max-width: 80%;
  color: white;
  z-index: 10; 
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.8);
  background-color: rgba(0,0,0,0.6);
  border-radius: 12px; 
  padding: 15px 25px;
}

#slide-1:checked ~ .s1,
#slide-2:checked ~ .s2,
#slide-3:checked ~ .s3 {
  opacity: 1;
  z-index: 5;
}

.controls {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  z-index: 10;
}

.controls label {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: rgba(255,255,255,0.5);
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;c
}

#slide-1:checked ~ .controls label[for="slide-1"],
#slide-2:checked ~ .controls label[for="slide-2"],
#slide-3:checked ~ .controls label[for="slide-3"] {
  background: white;
}

.services {
    display: flex;
}