
:root {
    --primary-color: #50928A;
    --secondary-color: #C1B579;
    --ht-shadow: 1px 1px 4px rgba(0,0,0,0.8);
    --bg-color: #f4f4f9;
    --trans-second: #C1B57940;
    --trans-prim: #bfdedabf;
}
body {
     margin: 0;
     padding: 0;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     box-sizing: border-box;
     background-color: var(--bg-color)
}
/* Styling Home page */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5%;
    position:sticky;
    top:0;
    background-color: var(--primary-color);
}

.nav-logo {
    height: 100px;
    width: auto;
    display: block;
}
.nav-links {
    display: flex;
    list-style: none;
}
.nav-links li {
    margin-left: 20px;
}
.nav-links a {
    color: white;
    text-shadow: var(--ht-shadow)
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}
.nav-links a:hover {
    transform: scale(1.2);
    color: var(--secondary-color);
}

.carousel {
    position: relative;
    width: 1000px;
    height: 400px;
    margin: 25px auto;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}
.slide {
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s ease;
  width: 100%;
  height: 100%;
}
.slide:before {
  content: attr(annot);
  display: block; 
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: fit-content; 
  max-width: 80%;
  color: white;
  z-index: 10; 
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-shadow: var(--ht-shadow)
  background-color: #50928ABF;
  border-radius: 12px; 
  padding: 15px 25px;
}

#slide-1:checked ~ .s1,
#slide-2:checked ~ .s2,
#slide-3:checked ~ .s3 {
  opacity: 1;
  z-index: 5;
}

.controls {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  z-index: 10;
}

.controls label {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: rgba(255,255,255,0.5);
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;c
}

#slide-1:checked ~ .controls label[for="slide-1"],
#slide-2:checked ~ .controls label[for="slide-2"],
#slide-3:checked ~ .controls label[for="slide-3"] {
  background: white;
}

.welcome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10%; 
}
.valuation {
    background-color: #C1B57940;
    justify-content: center;
    padding: 2%;
    display: flex;
}
.form {
    padding: 9px;
    max-width: 400px;
    margin: 0 auto;
    text-align:center ;
    border-radius: 8px;
}
.testimonial-slider {
   display: flex;
   justify-content: center;
   align-content: center;
   width: 100%;
   height: auto;
   margin-top: 100px;
   margin: 0 auto;
  
}

.testimonial-slider ul.slider {
   display: flex;
   list-style: none;
   padding: 0;
   position: relative;
   width: 100%;
   height: 350px;
   overflow: hidden;
   margin: 0 auto;
}

.testimonial-slider ul.slider li {
    position:absolute;
    width: 100%;
    opacity: 0;
    margin: 0 auto;
}
.testimonial-slider ul.slider li:nth-child(1) {
    opacity: 1;

    -webkit-animation: fade-animation-1 25s infinite;
            animation: fade-animation-1 25s infinite;
}
.testimonial-slider ul.slider li:nth-child(2) {
    -webkit-animation: fade-animation-2 25s infinite;
            animation: fade-animation-2 25s infinite;
}
.testimonial-slider ul.slider li:nth-child(3) {
    -webkit-animation: fade-animation-3 25s infinite;
            animation: fade-animation-3 25s infinite;
}
.testimonial-slider ul.slider li:nth-child(4) {
    -webkit-animation: fade-animation-4 25s infinite;
            animation: fade-animation-4 25s infinite;
}

.testimonial-slider q {
   display: block;
   text-align: center;
   font: normal 700 20px / 1.25 "Raleway", Helvetica, Arial, Verdana, sans-serif;
   letter-spacing: .5pt;
   text-shadow: 0 5px 10px rgba(0,0,0,.1);
   max-width: 80%;
   margin: 0 auto;
}

.testimonial-slider .source {
    margin-top: 25px;
    color: var(--primary-color);
    font: italic 400 20px / 1.35 "Raleway", Helvetica, Arial, Verdana, sans-serif;
}

@keyframes fade-animation-1 {
    0%, 25%, 100% {
        opacity:0
    }
    3%, 22% {
        opacity: 1;
    }
}
@keyframes fade-animation-2 {
    0%, 25%, 50%, 100% {
        opacity:0
    }
    28%, 47% {
        opacity: 1;
    }
}
@keyframes fade-animation-3 {
    0%, 50%, 75%, 100% {
        opacity:0
    }
    53%, 72% {
        opacity: 1;
    }
}
@keyframes fade-animation-4 {
    0%, 75%, 100% {
        opacity:0
    }
    78%, 97% {
        opacity: 1;
    }
}

@-webkit-keyframes fade-animation-1 {
    0%, 25%, 100% {
        opacity:0
    }
    3%, 22% {
        opacity: 1;
    }
}
@-webkit-keyframes fade-animation-2 {
    0%, 25%, 50%, 100% {
        opacity:0
    }
    28%, 47% {
        opacity: 1;
    }
}
@-webkit-keyframes fade-animation-3 {
    0%, 50%, 75%, 100% {
        opacity:0
    }
    53%, 72% {
        opacity: 1;
    }
}
@-webkit-keyframes fade-animation-4 {
    0%, 75%, 100% {
        opacity:0
    }
    78%, 97% {
        opacity: 1;
    }
}
.contact {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-around;
    text-shadow: var(--ht-shadow)
    color: white;
    text-decoration: none;
}
.contact a:hover {
    transform: scale(1.2);
    color: var(--secondary-color);
}
footer {
    display: flex;
    justify-content: center;
}
/* Styling for about page */
.hi {
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    margin: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
}
.hi-content {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    max-width: 600px;
   
}
.headshot{
    width: 250px;
    height: auto;
    border-radius: 50%;
    padding: 2%;
}
.hi h3 {
    background-color: #C1B57940;
    padding: 20px;
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.hi h3::after {
    content: "👋";
}

.hi h3:hover {
    transform: rotate(5deg);
}
.section-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}
.approach, .whyme{
    flex: 1;
    max-width: 500px; 
    background-color: #50928A40;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 2%;
    margin: 15px; 
}
/* Styling contact page */

section .contact {
    margin:0;
    padding:5px;
    width:100%;
    background-color: var(--accent-color);
    color: white;
    text-decoration: none;
    text-shadow: var(--ht-shadow)
}
section.contact a:hover {
     color: #AD906E;
}

.contactme {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin: 20px auto;
    border-radius: 13px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    background-color: #50928A;
}
.contactme h3 {
    color: white;
    text-shadow: var(--ht-shadow);
}
.contactme input, textarea {
    padding: 5px;
    margin: 10px 0px;
    box-sizing: border-box;
    border-radius: 8px;;
    background-color: #bfdedabf;
    color: white;
    font-size: 16px;
}
.contactme textarea {
    transition: width 0.4s ease-in-out;
}
.contactme textarea:focus {
    width: 100%;
}
.contactme input {
    transition: width 0.4s ease-in-out;
}
.contactme input:focus {
  width: 100%;
}
.contactme .submit-button {
    background-color: var(--secondary-color);
    padding: 10px 20px;
    border: none;
    color: var(--primary-color)
}
.contactme .submit-button:hover {
    background-color: var(--primary-color);
    color: var(--accent-color);
}
/* Styling for lettings page */

.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    padding: 50px 20px;
    min-width: 300px;
    max-width: 500px;
    margin: 0 auto;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    margin-bottom: 60px;
    margin-top: 60px;
}
.hero a, .tenant a { 
    background-color: var(--primary-color);
    text-decoration: none;
    color: white;
    text-shadow: var(--ht-shadow);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}
.hero a:hover {
    transform: scale(1.2);
    color: var(--secondary-color);
}
.tenant a:hover {
    transform: scale(1.2);
    color: var(--secondary-color);
}   
.lettings {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 50px 20px;
    background-color: var(--secondary-color);
}
.tenant, .landlord{
    flex: 1;
    min-width: 300px;
    max-width: 500px;
    background-color: var(--bg-color);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
}
.choose-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    padding: 50px 20px;
    min-width: 300px;
    max-width: 70%;
    margin: 0 auto;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    margin-top: 60px;
    margin-bottom: 60px;
}
    .choose-me p {
    max-width: 600px;
    margin: 0 auto;
}

/* Styling Buying page */
.buying-hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    padding: 50px 20px;
    min-width: 300px;
    max-width: 70%;
    margin: 0 auto;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: var(--trans-second);
    text-shadow: var(--ht-shadow);
    color: white;
}

.buying-hero button {
    margin: 10px;
    border-radius: 12px;
    font-size: 18px;
}
.buying-hero input:focus {
    transform: scale(1.2);
}
.buying-hero button:hover {
    transform: scale(1.2);
    color: white;
    background-color: var(--primary-color);
    border: none;
}

.guide-promise-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 50px 20px;
    background-color: var(--secondary-color);
}
.step-guide, .promise{
    flex: 1;
    min-width: 300px;
    max-width: 500px;
    background-color: var(--bg-color);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
}
.faq-section {
    padding: 20px 60px;
    max-width: 900px;
    margin: 0 auto;
}
.faq-section h2 {
    text-align: center;
    margin-bottom: 40px;
}
.faq-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.faq-item {
    background-color: var(--trans-prim);
    padding: 25px;
    border-left: 5px solid var(--primary-color);
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.5);
}
.buying-grid {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}
.info-card {
    max-width: 425px;
    text-align: center;
}
.buying-grid h2 {
    color: white;
    text-shadow: var(--ht-shadow);
    text-align: center;

}
.buying-grid a {
    display:inline-block;
    margin: 20px auto;
    text-decoration: none;
    text-align: center;
    padding: 20px;
    color: white;
    text-shadow: var(--ht-shadow);
    font-size: 18px;
    background-color: var(--primary-color);
    border-radius: 9px;
}
.buying-grid a:hover {
    transform: scale(1.2);
  
}